ENVIRONMENT = 'production'
DB_HOST = 'localhost'
DB_NAME = 'vobetting'
DB_USERNAME = 'username'
DB_PASSWORD = 'password'
JWT_SECRET = 'jwt_secret'
JWT_ALGORITHM = 'algorithm'
ACTIVATION_SECRET = 'activation_secret'
WWW_URL = 'http://localhost:3000'
BETFAIR_APIKEY=''
BETFAIR_USERNAME=''
BETFAIR_PASSWORD=''