ENVIRONMENT = 'production'
DB_HOST = 'localhost'
DB_NAME = 'vobetting'
DB_USERNAME = 'username'
DB_PASSWORD = 'password'
JWT_SECRET = 'jwt_secret'
JWT_ALGORITHM = 'algorithm'
ACTIVATION_SECRET = 'activation_secret'
WWW_URLS='http://localhost:4201'