<phpunit colors="true" bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="vobetting">
            <directory suffix=".php">./tests/cases</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../domain</directory>
            <exclude>
                <file>../vendor/autoload.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./codecoverage" lowUpperBound="50" highLowerBound="80"/>
    </logging>
</phpunit>